<!-- views/error.ejs -->
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Error</h1>
    <p>An error occurred: <%= error %></p>
    <a href="/">Back to Login</a>
</body>
</html>
